# idea
.idea
.idea/
*.iml
.DS_Store
**/.DS_Store

#deploy data

backend/data/*
!data/.gitkeep

# gitlab ci
.cache

#vscode
.vscode
.vscode/

*.yaml

usercenter.yaml
reminder.yaml
mqueue.yaml
backend/common/wxnotice

weapp/dist
weapp/node_modules